body{
    margin:0 auto;
    text-align: center;
    background-image: url('https://images.unsplash.com/photo-1506703719100-a0f3a48c0f86?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80');
    background-repeat: no-repeat;
    background-size:cover;
    font-family: 'Rampart one', cursive;
    color:white
}

h2{
    color:lightgray;


    
}

#gameBox{
    display: flex;
    flex-wrap: wrap;
    height: 425px;
    width: 425px;
    justify-self: center;
    margin: 0 auto;
    border-radius: 5px;
   background-color:rgba(15, 15, 14, 0.863);
   border-color: black;
   
}

.space{
    
    cursor: pointer;
    box-sizing: border-box;
    align-content: center;
    height: 125px;
    width: 125px;
    margin: 5px;
    background: linear-gradient(to bottom, rgba(235, 237, 240, 0.705), rgba(244, 247, 248, 0.959), rgba(154, 156, 156, 0.562));
    font-size: 70px;
    text-align: center;
    
    color: #fff;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #0073e6, 0 0 20px #0073e6, 0 0 25px #0073e6, 0 0 30px #0073e6, 0 0 35px #0073e6;
  }
.player-information{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    
  
}
#turn{
    margin-top: 5px;
}